/* img {
  max-width: 150px;
  margin: 0 auto;
  display: block;
  cursor: pointer;
} */

.card-deck {
  margin-right: 0;
  margin-left: 0;
}

.card-deck .card {
  margin-right: 0;
  margin-left: 0;
}
