<main class="main">
  <ng-container *ngIf="!loadingFull; else loading">
    <form [formGroup]="registerForm" class="form-register" (ngSubmit)="onSubmit()">
      <p-messages [(value)]="message"></p-messages>
      <div class="text-center">
        <img class="rounded" src="assets/images/logo.png" alt="" width="200">
      </div>
      <h1 class="h3 mb-3 font-weight-normal text-center">{{ 'register.register' | translate | upperCaseFirstLetter }}</h1>
      <div class="content">
        <div class="ui-float-label">
            <input id="float-input" formControlName="username" type="text" size="30" pInputText>
            <label for="float-input">{{ 'register.username.title' | translate }}</label>
        </div>
        <div *ngIf="submitted && f.username.errors">
          <div *ngIf="f.username.errors.required" class="errorMessage">{{ 'register.username.required' | translate | upperCaseFirstLetter }}</div>
        </div>
      </div>
      <div class="content">
        <div  class="ui-float-label">
          <input type="password" formControlName="password" for="float-input-pwd" size="30" pInputText/>
          <label for="float-input-pwd">{{ 'register.password.title' | translate }}</label>
        </div>
        <div *ngIf="submitted && f.password.errors">
          <div *ngIf="f.password.errors.required" class="errorMessage">{{ 'register.password.required' | translate | upperCaseFirstLetter }}</div>
        </div>
      </div>
      <div class="content">
        <div  class="ui-float-label">
          <input type="password" formControlName="confirmPassword" for="float-input-pwd" size="30" pInputText/>
          <label for="float-input-pwd">{{ 'register.confirmPassword.title' | translate }}</label>
        </div>
        <div *ngIf="submitted && f.confirmPassword.errors">
          <div *ngIf="f.confirmPassword.errors.required" class="errorMessage">{{ 'register.confirmPassword.required' | translate | upperCaseFirstLetter }}</div>
        </div>
      </div>
      <button class="btn btn-lg btn-primary btn-block" type="submit">{{ 'register.register' | translate | upperCaseFirstLetter }}</button>
      <div class="text-center">
        <a routerLink="/login" class="btn btn-link">{{ 'login.login' | translate }}</a>
      </div>
    </form>
  </ng-container>
</main>

<ng-template #loading>
  <p-progressSpinner></p-progressSpinner>
</ng-template>
