:host {

  .content-errorMessage {
    margin: 50px;
  }

  .form-register {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;

    input {
      width: 100%;
    }

    .errorMessage {
      color: red;
    }
  }

  .content-snipper {
    text-align: center;
  }
}
