<ng-container *ngFor="let movie of listMovies.Search">
  <div class="ui-g-12 box">
    <div class="movie-details">
      <div>
        <button *ngIf="favorites.indexOf(movie.imdbID) > -1" pButton type="button" icon="pi pi-star" (click)="removeFavorite(movie.imdbID)"></button>
        <button *ngIf="favorites.indexOf(movie.imdbID) <= -1" pButton type="button" icon="pi pi-star-o" (click)="setFavorite(movie.imdbID)"></button>
        <img src="{{ movie.Poster }}">
        <div class="ui-g">
          <div class="ui-g-12">Vin: <b>{{ movie.Title }}</b></div>
          <div class="ui-g-12">Year: <b>{{ movie.Year }}</b></div>
          <div class="ui-g-12">Brand: <b>{{ movie.Type }}</b></div>
        </div>
      </div>
    </div>
  </div>
</ng-container>
